@{
    Layout="Shared/_Layout.cshtml";
}

<h1>You Added a Band!</h1>

<h3>Name: @Model.Name</h3>
<h4>Description: @Model.Description</h4>

<div class="footer-links">
    <h4><a href="/bands/new">Click here to add another band.</a></h4>
    <h4><a href="/venues">Click here to view all venues.</a></h4>
    <h4><a href="/">Click here to return to the homepage.</a></h4>
</div>
