@{
    Layout="Shared/_Layout.cshtml";
}

<h1>Your Tracked Venues</h1>
@if(Model.Count <= 0)
{
    <h3>You don't have any venues yet!</h3>
}
else
{
    <h2>Tracked Venues: </h2>
    @foreach(var venue in Model)
    {
        <h3><a href="/venue/@venue.Id">@venue.Name</a></h3>
    }
}

<div class="footer-links">
    <h4><a href="/venues/new">Click here to add a new venue.</a></h4>
    <h4><a href="/">Click here to return to the homepage.</a></h4>
</div>
