@{
    Layout="Shared/_Layout.cshtml";
}

<h1>You added a venue!</h1>

<h3>Name: @Model.Name</h3>
<h4>Location: @Model.Location</h4>

<div class="footer-links">
    <h4><a href="/venues/new">Click here to add another new venue.</a></h4>
    <h4><a href="/venue/@Model.Id/new_band">Click here to add a band for this venue.</a></h4>
    <h4><a href="/bands">Click here to view all bands.</a></h4>
    <h4><a href="/">Click here to return to the homepage.</a></h4>
</div>
