body {
    background-image: linear-gradient(to bottom, white, gray);
    background-attachment: fixed;
}

#warning a {
    color: darkred;
}

.footer-links {
    margin-top: 20px;
    background-color: #f2f2f2;
    padding: 8px;
    margin-bottom: 20px;
    box-shadow: 5px 6px 15px black;
}

h1 {
    background-color: black;
    color: white;
    padding-left: 10px;
}

.container {
    background-color: lightgray;
    box-shadow: 5px 5px 20px black;
    margin-top: 18px;
    width: 720px;
}

input {
    width: 40%;
}

textarea {
    vertical-align: top;
    width: 50%;
    height: 10vh;
}

.form-group span {
    font-size: 20px;
}

h5 {
    font-size: 18px;
    margin: 8px;
    margin-left: 1vw;
}

.custom-line-item {
    display: inline-flex;
    align-items: center;
    width: 100%;
}

.btn-remove {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid black;
    margin-left: 8px;
    color: darkred;
    height: 20px;
    border-radius: 3px;
}

.btn-remove:hover {
    background-color: rgba(0, 0, 100, 0.1);
    color: darkred;
    border: 1px solid blue;
}
